@media (max-width: 576px) {
  header .header .header_left .lang_list {
    display: none;
  }
  .container {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  header .header .header_left .lang_list {
    display: none;
  }
  .container {
    max-width: 80%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
